@font-face {
    font-family: "Latin Modern Roman Dunhill";
    src: url(../fonts/lmromandunh10-regular.otf);
}

body {
    background: Gainsboro;
    font-family: "Latin Modern Roman Dunhill";
    text-align: center;
}

#header {
    font-size: 50px;
}

#content {
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    width: 1000px;
}

.zone {
    position: absolute;
    width: 500px;
}

circle {
    cursor: pointer;
}

#here-text {
    left: 0;
    color: White;
}

#there-text {
    left: 500px;
    color: Black;
}

.place {
    font-size: 20px;
    margin-top: 60px;
    opacity: 0;
}

.time {
    font-size: 130px;
    opacity: 0;
}

.date {
    font-size: 40px;
    opacity: 0;
}

.choose {
    font-size: 50px;
    padding-top: 70px;
    cursor: pointer;
}

#love-words-title {
    font-size: 20px;
    opacity: 0;
}

#love-words-content {
    font-size: 30px;
    opacity: 0;
}
